/* Default styles for mobile start here. */

* {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	font-family: 'Lato', sans-serif;
}

header,
main {
	display: block;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

header {
	float: left;
	width: 100%;
	background-color: black;
	margin-bottom: 0.5em;
}

header img {
	padding: 1em;
	display: block;
	max-width: 300px;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	font-family: 'Audiowide', cursive;
	margin-bottom: 0.5em;
	color: #9ecb3a;
	text-shadow: 1px 1px 1px #878787;
	font-size: 225%;
	text-align: center;
}

h2 {
	font-family: 'Comfortaa', cursive;
	margin-bottom: 0.5em;
	font-weight: bold;
	color: #0055a0;
	font-size: 200%;
	text-align: center;
}

p,
a {
	margin-bottom: 1em;
	padding-left: 1em;
	padding-right: 1em;
}

a {
	color: red;
	font-weight: bold;
	font-style: italic;
}

#button {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1em;
	width: 40%;
	background-color: #0055a0;
	color: white;
	padding: 0.5em;
	font-family: 'Audiowide', cursive;
	font-size: 120%;
	text-align: center;
}

#button:hover {
	background-color: #9ecb3a;
}

#swatches {
	padding-bottom: 6%;
}

#colors li {
	width: 25%;
	list-style-type: none;
	float: left;
	padding-bottom: 18%;
	margin: 2%;
}

.blue {
	background-color: #0055a0;
}

.green {
	background-color: #9ecb3a;
}

.red {
	background-color: red;
}

.orange {
	background-color: orange;
}

.yellow {
	background-color: yellow;
}

.grey {
	background-color: grey;
}

#patterns li {
	list-style-type: none;
}

#patterns li img {
	max-width: 90%;
	margin-top: 1em;
}

/* Default styles for mobile end here. */

@media all and (min-width: 900px) {

	#typography {
		float: left;
		width: 30%;
	}

	#swatches {
		width: 70%;
		float: right;
	}

	#colors li {
		width: 14%;
		padding-bottom: 10%;
		margin: 1%;
	}

	#patterns li img {
		max-width: 30%;
		float: left;
		margin-right: 2%;
	}
}

@media all and (min-width: 500px) and (max-width: 900px) {
	#typography {
		float: left;
		width: 50%;
	}

	#swatches {
		width: 50%;
		float: right;
	}

	#colors {
		width: 40%;
		float: left;
	}

	#patterns {
		width: 60%;
		float: right;
	}

	#colors li {
		width: 60%;
		padding-bottom: 40%;
		margin: 5%;
	}
}
